<!--ENTERING HOME.HTML-->
{% extends "base.html" %}
{% block title %}About Us - iTutor{% endblock %}

{% block content %}


<div class="container">
  <h1>About Us</h1>
  <p>iTutor provides customized one-on-one tutoring lessons with qualified teachers for all educational levels. 
    With our qualified and experienced teachers, we provide personalized programs to give every student the best learning experience possible.
    Our lessons are designed to enhance any student's learning skills, helping them to excel in school.
    We strive to be a leading provider of quality tutoring, ensuring that our students get the best educational experience.
    Our tutoring services are tailored to each student's individual needs, 
    so that the learning objectives are met. We are committed to giving our students the best quality of service 
    and delivering results that enable our students to achieve their highest potential. </p>
  <a href="https://www.google.com/" class="button">Learn More</a>
</div>



{% endblock %}
