<!--ENTERING APPOINTMENTS.HTML-->
{% extends "base.html" %}
{% block title %}Appointments - iTutor{% endblock %}

{% block content %}

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="images/logo.PNG" style="width:20px;height:20px">
          <a class="navbar-brand fw-bold" href="home.html">iTutor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>           

          <div class="collapse navbar-collapse" id="navbarSupportedContent">     

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="home.html">HOME</a>
                </li> 

                <li class="nav-item">
                  <a class="nav-link active" href="teachers.html">TEACHERS</a>
              </li>  
              
              <li class="nav-item">
                  <a class="nav-link active" href="appointment.html">APPOINTMENT</a>
              </li>
                  
                  <li class="nav-item">
                      <a class="nav-link active" href="aboutUs.html">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="contact.html">CONTACT</a>
                </li> 
                  
                                     
            
              </ul>
              <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">SEARCH</button>
              </form>
          </div>
      </div>
  </nav>

  <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade" data-bs-touch="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/1100x350/?book,library" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/1100x350/?book,technology" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/1100x350/?book,pray" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="formbold-main-wrapper">
      <!-- Author: FormBold Team -->
      <!-- Learn More: https://formbold.com -->
      <div class="formbold-form-wrapper">
        <form action="https://formbold.com/s/FORM_ID" method="POST">
          <h2 class="mb-5">Book an Appointment</h2>
          <div class="teacher-list">
            <h4>Teacher List</h4>
            <ul>
              <li class="teacher-item">  
                <input type="checkbox" id="teacher1" name="teacher1">                
                <label for="teacher1">Elizabeth N., English</label>                  
                <button class="fav-btn">Add to Favorites</button>                  
              </li>
              <li class="teacher-item">  
                <input type="checkbox" id="teacher2" name="teacher2">                
                <label for="teacher1">John Lyon, Science</label>                  
                <button class="fav-btn">Add to Favorites</button>                  
              </li>
              <li class="teacher-item">  
                <input type="checkbox" id="teacher3" name="teacher3">                
                <label for="teacher2">Jennifer Smith, Math</label>                  
                <button class="fav-btn">Add to Favorites</button>
              </li>
              <li class="teacher-item">    
                <input type="checkbox" id="teacher4" name="teacher4">              
                <label for="teacher3">Jack Hendrix, Physics</label>                  
                <button class="fav-btn">Add to Favorites</button>
              </li>
            </ul>
          </div>

          <div class="formbold-mb-5">              
            <label for="name" class="formbold-form-label"> Full Name </label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Full Name"
              class="formbold-form-input"
            />
          </div>
          <div class="formbold-mb-5">
            <label for="phone" class="formbold-form-label"> Phone Number </label>
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="Enter your phone number"
              class="formbold-form-input"
            />
          </div>
          <div class="formbold-mb-5">
            <label for="email" class="formbold-form-label"> Email Address </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              class="formbold-form-input"
            />
          </div>
          <div class="flex flex-wrap formbold--mx-3">
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5 w-full">
                <label for="date" class="formbold-form-label"> Date </label>
                <input
                  type="date"
                  name="date"
                  id="date"
                  class="formbold-form-input"
                />
              </div>
            </div>
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <label for="time" class="formbold-form-label"> Time </label>
                <input
                  type="time"
                  name="time"
                  id="time"
                  class="formbold-form-input"
                />
              </div>
            </div>
          </div>
    
          <div class="formbold-mb-5 formbold-pt-3">
            <label class="formbold-form-label formbold-form-label-2">
              Address Details
            </label>
            <div class="flex flex-wrap formbold--mx-3">
              <div class="w-full sm:w-half formbold-px-3">
                  <div class="formbold-mb-5">
                    <input
                      type="text"
                      name="city"
                      id="city"
                      placeholder="Enter city"
                      class="formbold-form-input"
                    />
                  </div>
                </div>                
              
              <div class="w-full sm:w-half formbold-px-3">
                <div class="formbold-mb-5">
                  <input
                    type="text"
                    name="post-code"
                    id="post-code"
                    placeholder="Post Code"
                    class="formbold-form-input"
                  />
                </div>
              </div>
            </div>
          </div>
    
          <div>
            <button class="formbold-btn">Book Appointment</button>
          </div>
        </form>
      </div>
    </div>
    
<!-- footer section starts  -->
<section class="footer">
  <div class="myInfo"> 
    <p> @Support Us<br> </p> 
    <p>Copyright © 2023 All Rights Reserved by iTutor.</p>       
  </div>

</body>


{% endblock %}