<!--ENTERING APPOINTMENTS.HTML-->
{% extends "base.html" %}
{% block title %}Appointments - iTutor{% endblock %}

{% block content %}

    <div class="formbold-main-wrapper">
      <!-- Author: FormBold Team -->
      <!-- Learn More: https://formbold.com -->
      <div class="formbold-form-wrapper">
        <form action="/confirmation" method="POST">
          <h2 class="mb-5">Book an Appointment</h2>

          <div class="formbold-mb-5">
            <label for="phone" class="formbold-form-label"> Phone Number </label>
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="Enter your phone number"
              class="formbold-form-input"
            />
          </div>

          <div class="flex flex-wrap formbold--mx-3">
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5 w-full">
                <label for="date" class="formbold-form-label min="2023-05-04"> Date </label>
                <input
                  type="date"
                  name="date"
                  id="date"
                  class="formbold-form-input"
                />
              </div>
            </div>
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <label for="time" class="formbold-form-label"> Time </label>
                <input
                  type="time"
                  name="time"
                  id="time"
                  class="formbold-form-input"
                />
              </div>
            </div>
          </div>
    
          <div>
            <button class="formbold-btn" name="book_appt" type="submit">Book Appointment</button>
          </div>
        </form>
      </div>
    </div>
    

{% endblock %}