<!--ENTERING PROFILE.HTML-->
<!--temp file for testing ONLY, hopefully we can make 2 pages, one for log in one for sign up-->
{% extends "base.html" %}
{% block title %}Profile - iTutor{% endblock %}

{% block content %}

<section id="tutors" class="py-5">
  <div class="container">
    <h2 class="mb-5">TUTOR LIST</h2>
    <div class="row">

      <!--TOOD: get the pcitures working-->
      {% for item in data %}
      <div class="">
        <div class="card-body">
          <img src="./static/images/profile_pics/{{item[9]}}" alt="Tutor Picture" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Name: {{item[1]}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Expertise: {{item[8]}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Age: {{item[2]}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Email: {{item[3]}}</h6>

            <p class="card-text">About Me</p>
            <p> {{item[7]}} </p>
          </div>
        </div>
      </div>
{% endfor %}

    </div>
  </div>
</section>





{% endblock %}