<!--ENTERING PROTECTED.HTML-->
<!--temp file for testing ONLY, hopefully we can make 2 pages, one for log in one for sign up-->
{% extends "base.html" %}
{% block title %}Log In - iTutor{% endblock %}

{% block content %}

<form>
    <div class="container">
      <h1>Welcome user name: {{user}}</h1>
      <p>THis is the protected page, only available to people that signed in</p>
      <button onclick="window.location = 'http://localhost:5000/dropsession'" type="submit">Log Out</button>
      <hr>
    </div>
  </form> 

{% endblock %}