<!--ENTERING TUTORDETAILS.HTML-->
{% extends "base.html" %}
{% block title %}Tutor Details - iTutor{% endblock %}
<!--##########################################################################################################################-->
      </div>
      <section class = "bg-light p - 5">
        <h3>Tutors</h3>
        <div class = "table-responsive, id = no-more-tables">
            <table class = "table bg-white">
            <thead class = "bg-dark text-light">
                <tr>
                    <th> Name</th>
                    <th> Last name </th>
                    <th> Specialty </th>
                    <th> Email </th>
                </tr>

            </thead>

            <tbody>
                <tr class = "table-row">
                    <td data-title = "name"> <a href = "#"> Nathan </a> </td>
                    <td data-title = "Last name"> Gonzalez</td> 
                    <td data-tile = "Subjects"> Math, English, Physics</td> 
                    <td data-title = "Email">  </td>
                </tr>
                <tr class = "table-row">
                    <td data-title = "First name"> <a href = "#"> Luther </a> </td>
                    <td data-title = "First name"> King</td>        
                    <td data-tile = "Subjects"> Math, Chemistry, Physics</td>
                    <td data-title = "Email">  </td>
                </tr>
                <tr class = "table-row">
                    <td data-title = "First name"> <a href = "#"> Lisa </a> </td>
                    <td data-title = "First name"> Donalds</td>
                    <td data-tile = "Subjects"> History, Government</td>           
                    <td data-title = "Email">  </td>    
                </tr>
            </tbody>

            </table>   
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search Tutor">
                <button class="btn btn-outline-success" type="submit">SEARCH TUTOR</button>
            </form>
        </div>  
    </section>
<!-- footer section starts  -->
<section class="footer">
    <div class="myInfo"> <p> @Contact Us<br> </p>        
    </div>

</body>

</html>
{% endblock %}
