<!--ENTERING Teachers.HTML-->
{% extends "base.html" %}
{% block title %}Search Results - iTutor{% endblock %}

{% block content %}


<section id="tutors" class="py-5">
  <div class="container">
    <h2 class="mb-5">TUTOR SEARCH RESULTS:</h2>
    <div class="row">

{% for item in data %}
      <div class="col-md-3">
        <div class="card">
          <img src="./static/images/profile_pics/{{item[9]}}" alt="Profile Pic Here" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Name: {{item[1]}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Expertise: {{item[8]}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Age: {{item[2]}}</h6>

            <p class="card-text">About Me</p>
            <p> {{item[7]}} </p>
            <a href="#" class="btn btn-primary">Add to Favorites</a>
            <a href="/appointments" class="btn btn-primary">Make an Appointment</a>
          </div>
        </div>
      </div>
{% endfor %}
    </div>
  </div>
</section>

{% endblock %}